[Unit]
Description=Browsermon Community JSON_Fix by Eunomatix
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/browsermon
ExecStart=/opt/browsermon/browsermon
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

