[Unit]
Description=Browsermon Service 1.2.1
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/browsermon
ExecStart=/opt/browsermon/browsermon
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

