[Unit]
Description=Browsermon Community v1.3.0 by Eunomatix
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/browsermon
ExecStart=/opt/browsermon/browsermon
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

